# Игнорировать всё в корне
/*

# Но НЕ игнорировать папку с исходниками
!/ImageViewer_template/
!/ImageViewer_template/src/

# Отслеживать .cpp и .h файлы
!**/*.cpp
!**/*.h
!**/*.ui

# Отслеживать сам .gitignore
!.gitignore

# Игнорировать папку build внутри ImageViewer_template
ImageViewer_template/build/

# Игнорировать временные и системные файлы
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db
desktop.ini